*{
    padding : 0;
    margin : 0;
    text-decoration-skip: none;
    list-style:none;
    box-sizing: border-box;


}
body {
    font-family: montserrat;
}
nav{
    background: #f5428d;
    height: 80px;
    width: 100%;
}
label.logo{
    color :white;
    font-size:35 px;
    line-height :80px;
    padding : 0 100px;
    font-weight :bold;
}
nav ul {
    float :right;
    margin-right : 20px;
}
nav ul li {
    display : inline-block;
    line-height: 80px;
    margin: 0  5px;
}
nav ul li a {
    color : white;
    font-size: 17 px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px
}
a.active , a:hover{
    background: #4ef542;
    transition : .5s; 

}
label.checkbtn{
font-size: 30px;
color :white;
float :right;
line-height:80px;
margin-right: 40px;
cursor : pointer;
display: none;

}
#check{
    display: none;
}
@media(max-width : 952px){
    label.logo{
        font-size : 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size:16px;
    }
}
@media(max-width : 858px){
    .checkbtn{
        display:block;
    }
      
}
